body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('http://www.pd4pic.com/images/background-bits-bit-network-blue-tech-hitech.jpg');
  background-size: cover;
}

a {
  color: #00B7FF;
}

.bitfit-header {
  background-color: transparent;
  color: white;
  text-shadow: 0 0.15em black;
}

.jumbotron {
  padding-bottom: 10px;
}

.login-panel {
  padding-top: 20%;
}

.btn-primary {
  border-color: white;
}

.invalid-form-message {
  color: red;
  font-size: 10px;
}
